.board {
    height: 60vh;
    display: grid;
    grid-template-rows: repeat(var(--rows), 1fr);
    grid-template-columns: repeat(var(--cols), 1fr);
    gap: 2px;
    width: fit-content;
    position: relative;
}

.tile {
    aspect-ratio: 1 / 1;
    background: var(--tile-bg);
    padding: 2;
    display: grid;
    place-items: center;
    font-size: (1rem, 5vh, 3rem);
    user-select: none;
}

.preview-rect {
    border: 2px dashed var(--button-bg);
    z-index: 3;
    position: absolute;
    background-color: rgba(0.2, 0, 0, 0.2);
    z-index: 10;

    width: 100%;
    height: 100%;
    pointer-events: none;
}
