.board {
    height: 60vh;
    max-width: 90vw;
    display: grid;
    grid-template-rows: repeat(var(--rows), 1fr);
    grid-template-columns: repeat(var(--cols), 1fr);
    width: fit-content;
    position: relative;
    padding: 20px;
    background: var(--bg-container);
    box-shadow: 10px 10px 10px #000000dd;
}

.tile {
    aspect-ratio: 1 / 1;
    background: var(--tile-bg);
    margin: 2px;
    display: grid;
    place-items: center;
    font-size: (1rem, 6vh, 3rem);
    user-select: none;
}

.preview-rect {
    border: 2px dashed var(--accent);
    position: absolute;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 10;

    width: 100%;
    height: 100%;
    pointer-events: none;
}

.stable-rect {
    outline: 3px solid var(--accent);
    outline-offset: -4px;
    position: absolute;
    background-color: rgba(69, 69, 69, 0.2);
    z-index: 5;

    width: 100%;
    height: 100%;
    pointer-events: none;
}

.vignette {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
    background: #000000dd;
    transition: opacity 0.5s ease;
    z-index: 100;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.vignette-active {
    opacity: 1;
    pointer-events: all;
}
