header {
    margin-bottom: auto;
    width: 100vw;
    min-height: 10vh;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    letter-spacing: 4px;
    font-weight: 300;
    font-style: oblique;
}

.title {
    font-size: 48px;
}
