:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    backface-visibility: hidden;
    transform: translateZ(0);
}

body,
html {
    margin: 0;
    padding: 0;
}

* {
    color: var(--text-main);
}

[data-theme='dark'] {
    --bg-app: linear-gradient(-45deg, #0a0a0a, #1e1e1e);
    --bg-container: linear-gradient(-45deg, #1e1e1e, #272727);
    --text-main: #ffffff;
    --button-bg: linear-gradient(-45deg, #272727, #444444);
    --tile-bg: #131313;
    --accent: #000000;
}

[data-theme='blue'] {
    --bg-app: linear-gradient(-45deg, #140525, #160e4c);
    --bg-container: linear-gradient(-45deg, #1d0737, #1d1164);
    --text-main: #4a9bd5;
    --button-bg: linear-gradient(-45deg, #07275f, #083d97);
    --tile-bg: #11031b;
    --accent: #03001d;
}
